<html>
<head><meta charset='utf-8'></head>
<body>
  <p><%=greeting%></p>
  <br>
  <p><%=body%>
    <ul>
      <% for(var i=0; i<latestStories.length; i++) {%>
        <li><a href="http://localhost:1337/#/portfolio"><p><%=latestStories[i].title%>: <%=latestStories[i].description%></p></a></li>
      <% } %>
    </ul>
  </p>

  <p>
    <%=goodbye%><br>
    Megan
  </p>
</body>
</html>